@model MVCAssignment.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>

<table class="table table-bordered table-hover">
    <thread>
        <tr>
            <th>Product Id</th>
            <td>@Model.ProductId</td>
            
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <th>Rate</th>
            <td>@Model.Rate</td>
        </tr>
    </thread>
    

</table>







